In [149]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
import re

In [150]:
df=pd.read_csv('twitter_validation.csv',encoding='ISO-8859-1',header=None) #encoding='ISO-8859-1' is used to encode or process special characters
df

,0,1,2,3
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...
...,...,...,...,...
995,4891,GrandTheftAuto(GTA),Irrelevant,â­ï¸ Toronto is the arts and culture capital...
996,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
997,2652,Borderlands,Positive,Today sucked so itâs time to drink wine n pl...
998,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
999,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [151]:
df.columns=['id','social','target','text']
df

,id,social,target,text
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...
...,...,...,...,...
995,4891,GrandTheftAuto(GTA),Irrelevant,â­ï¸ Toronto is the arts and culture capital...
996,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
997,2652,Borderlands,Positive,Today sucked so itâs time to drink wine n pl...
998,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
999,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [152]:
df.head()

,id,social,target,text
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...

In [153]:
df.tail()

,id,social,target,text
995,4891,GrandTheftAuto(GTA),Irrelevant,â­ï¸ Toronto is the arts and culture capital...
996,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
997,2652,Borderlands,Positive,Today sucked so itâs time to drink wine n pl...
998,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
999,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [154]:
df.shape

(1000, 4)

In [155]:
df.dtypes

id         int64
social    object
target    object
text      object
dtype: object

In [156]:
df.isna().sum()

id        0
social    0
target    0
text      0
dtype: int64

In [157]:
df['target'].value_counts()

target
Neutral       285
Positive      277
Negative      266
Irrelevant    172
Name: count, dtype: int64

In [158]:
df['social'].value_counts()

social
RedDeadRedemption(RDR)               40
johnson&johnson                      39
PlayerUnknownsBattlegrounds(PUBG)    38
FIFA                                 38
LeagueOfLegends                      37
ApexLegends                          36
Nvidia                               35
TomClancysRainbowSix                 35
GrandTheftAuto(GTA)                  35
Amazon                               34
Fortnite                             34
PlayStation5(PS5)                    33
AssassinsCreed                       33
Borderlands                          33
Facebook                             33
Verizon                              32
Hearthstone                          32
Overwatch                            32
CS-GO                                32
CallOfDuty                           31
WorldOfCraft                         30
Cyberpunk2077                        30
MaddenNFL                            29
Microsoft                            28
Dota2                                27
CallOfDutyBlackopsColdWar            27
Battlefield                          26
Xbox(Xseries)                        26
Google                               24
TomClancysGhostRecon                 22
NBA2K                                21
HomeDepot                            18
Name: count, dtype: int64

In [159]:
# we should drop Irrelevant, because it is not needed, so we drop irrelevant rows
df.drop(df.index[(df['target']=='Irrelevant')],axis=0,inplace=True)
df

,id,social,target,text
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...
5,6273,FIFA,Negative,Hi @EAHelp Iâve had Madeleine McCann in my c...
...,...,...,...,...
993,314,Amazon,Negative,Please explain how this is possible! How can t...
994,9701,PlayStation5(PS5),Positive,Good on Sony. As much as I want to see the new...
997,2652,Borderlands,Positive,Today sucked so itâs time to drink wine n pl...
998,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
999,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [160]:
#reset index
df.reset_index(drop=True,inplace=True)
df

,id,social,target,text
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp Iâve had Madeleine McCann in my c...
...,...,...,...,...
823,314,Amazon,Negative,Please explain how this is possible! How can t...
824,9701,PlayStation5(PS5),Positive,Good on Sony. As much as I want to see the new...
825,2652,Borderlands,Positive,Today sucked so itâs time to drink wine n pl...
826,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
827,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [161]:
#remove unwanted column
df.drop(['id','social'],axis=1,inplace=True)
df

       target                                               text
0     Neutral  BBC News - Amazon boss Jeff Bezos rejects clai...
1    Negative  @Microsoft Why do I pay for WORD when it funct...
2    Negative  CSGO matchmaking is so full of closet hacking,...
3     Neutral  Now the President is slapping Americans in the...
4    Negative  Hi @EAHelp Iâve had Madeleine McCann in my c...
..        ...                                                ...
823  Negative  Please explain how this is possible! How can t...
824  Positive  Good on Sony. As much as I want to see the new...
825  Positive  Today sucked so itâs time to drink wine n pl...
826  Positive  Bought a fraction of Microsoft today. Small wins.
827   Neutral  Johnson & Johnson to stop selling talc baby po...

[828 rows x 2 columns]

In [162]:
#now target column convert positive--> 1, negative --> -1, neutral --> 0
df['target'] = df['target'].map({'Positive': 1, 'Negative': -1,'Neutral':0})
df

     target                                               text
0         0  BBC News - Amazon boss Jeff Bezos rejects clai...
1        -1  @Microsoft Why do I pay for WORD when it funct...
2        -1  CSGO matchmaking is so full of closet hacking,...
3         0  Now the President is slapping Americans in the...
4        -1  Hi @EAHelp Iâve had Madeleine McCann in my c...
..      ...                                                ...
823      -1  Please explain how this is possible! How can t...
824       1  Good on Sony. As much as I want to see the new...
825       1  Today sucked so itâs time to drink wine n pl...
826       1  Bought a fraction of Microsoft today. Small wins.
827       0  Johnson & Johnson to stop selling talc baby po...

[828 rows x 2 columns]

In [163]:
df.dtypes

target     int64
text      object
dtype: object

In [164]:
# now we apply nlp to text column
tweets=df.text
tweets

0      BBC News - Amazon boss Jeff Bezos rejects clai...
1      @Microsoft Why do I pay for WORD when it funct...
2      CSGO matchmaking is so full of closet hacking,...
3      Now the President is slapping Americans in the...
4      Hi @EAHelp Iâve had Madeleine McCann in my c...
                             ...
823    Please explain how this is possible! How can t...
824    Good on Sony. As much as I want to see the new...
825    Today sucked so itâs time to drink wine n pl...
826    Bought a fraction of Microsoft today. Small wins.
827    Johnson & Johnson to stop selling talc baby po...
Name: text, Length: 828, dtype: object

In [165]:
# tokenization
from nltk.tokenize import TweetTokenizer  #TweetTokenizer used for dataframe
tk=TweetTokenizer()
tweets=tweets.apply(lambda x:tk.tokenize(x)).apply(lambda x:" ".join(x))  #1st lambda function used for tokenize
                                                                            #2nd lambda function used separating tokens with spaces.
tweets

0      BBC News - Amazon boss Jeff Bezos rejects clai...
1      @Microsoft Why do I pay for WORD when it funct...
2      CSGO matchmaking is so full of closet hacking ...
3      Now the President is slapping Americans in the...
4      Hi @EAHelp Iâ   ve had Madeleine McCann in m...
                             ...
823    Please explain how this is possible ! How can ...
824    Good on Sony . As much as I want to see the ne...
825    Today sucked so itâ   s time to drink wine n...
826    Bought a fraction of Microsoft today . Small w...
827    Johnson & Johnson to stop selling talc baby po...
Name: text, Length: 828, dtype: object

In [166]:
# remove special characters
tweets=tweets.replace('[^a-zA-Z0-9]',' ',regex=True) #replacing not [^a-zA-Z0-9] with space,  regex-- regular expression
tweets

0      BBC News   Amazon boss Jeff Bezos rejects clai...
1       Microsoft Why do I pay for WORD when it funct...
2      CSGO matchmaking is so full of closet hacking ...
3      Now the President is slapping Americans in the...
4      Hi  EAHelp I      ve had Madeleine McCann in m...
                             ...
823    Please explain how this is possible   How can ...
824    Good on Sony   As much as I want to see the ne...
825    Today sucked so it      s time to drink wine n...
826    Bought a fraction of Microsoft today   Small w...
827    Johnson   Johnson to stop selling talc baby po...
Name: text, Length: 828, dtype: object

In [167]:
# not important step
# to get a meaningful words we remove words which have lessthan 3 letters
tweets = tweets.apply(lambda x: ' '.join([i for i in tk.tokenize(x) if len(i) >= 3]))
tweets

0      BBC News Amazon boss Jeff Bezos rejects claims...
1      Microsoft Why pay for WORD when functions poor...
2      CSGO matchmaking full closet hacking truly awf...
3      Now the President slapping Americans the face ...
4      EAHelp had Madeleine McCann cellar for the pas...
                             ...
823    Please explain how this possible How can they ...
824    Good Sony much want see the new PS5 what going...
825    Today sucked time drink wine play borderlands ...
826           Bought fraction Microsoft today Small wins
827    Johnson Johnson stop selling talc baby powder ...
Name: text, Length: 828, dtype: object

In [168]:
# stemming --> used to get root word
from nltk.stem import SnowballStemmer
ss=SnowballStemmer('english')
tweets=tweets.apply(lambda x:[ss.stem(i.lower()) for i in tk.tokenize(x)]).apply(lambda x: ' '.join(x))
tweets

0      bbc news amazon boss jeff bezo reject claim co...
1      microsoft whi pay for word when function poor ...
2           csgo matchmak full closet hack truli aw game
3      now the presid slap american the face that rea...
4      eahelp had madelein mccann cellar for the past...
                             ...
823    pleas explain how this possibl how can they le...
824    good soni much want see the new ps5 what go ri...
825    today suck time drink wine play borderland unt...
826            bought fraction microsoft today small win
827    johnson johnson stop sell talc babi powder and...
Name: text, Length: 828, dtype: object

In [169]:
# identification of stop word
from nltk.corpus import stopwords
sw=stopwords.words('english')

In [170]:
#remove stopwords from tweets
tweets=tweets.apply(lambda x:[i for i in tk.tokenize(x) if i not in sw]).apply(lambda x:' '.join(x))
tweets

0      bbc news amazon boss jeff bezo reject claim co...
1      microsoft whi pay word function poor samsungus...
2           csgo matchmak full closet hack truli aw game
3      presid slap american face realli commit unlaw ...
4      eahelp madelein mccann cellar past year littl ...
                             ...
823    pleas explain possibl let compani overcharg sc...
824    good soni much want see new ps5 go right much ...
825    today suck time drink wine play borderland sun...
826            bought fraction microsoft today small win
827    johnson johnson stop sell talc babi powder can...
Name: text, Length: 828, dtype: object

In [171]:
# vectorization text--->number
# we use tfidf --> term frequency inverse document frequency

from sklearn.feature_extraction.text import TfidfVectorizer
vec=TfidfVectorizer()
data=vec.fit_transform(tweets)  # now vectorized tweets are stored in data
print(data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10461 stored elements and shape (828, 3763)>
  Coords	Values
  (0, 515)	0.49155204783978756
  (0, 2267)	0.38864111655856126
  (0, 353)	0.1515362387424402
  (0, 610)	0.22681557001542715
  (0, 1813)	0.24577602391989378
  (0, 545)	0.2608257828483461
  (0, 2741)	0.2608257828483461
  (0, 785)	0.21432663830218204
  (0, 838)	0.17354914655342313
  (0, 286)	0.22681557001542715
  (0, 1976)	0.13277165480466424
  (0, 1108)	0.23509805002803952
  (0, 982)	0.2608257828483461
  (0, 668)	0.2608257828483461
  (1, 2135)	0.24555654927912696
  (1, 3619)	0.26216072802580975
  (1, 2442)	0.3126902562590763
  (1, 3659)	0.36557591217188057
  (1, 1383)	0.4055823664694651
  (1, 2538)	0.3821800909185634
  (1, 2871)	0.4055823664694651
  (1, 775)	0.4055823664694651
  (2, 934)	0.3041178383627944
  (2, 2085)	0.3963165794888645
  (2, 1380)	0.3790982275064499
  :	:
  (825, 3363)	0.2560582225152133
  (825, 3373)	0.3395996844494918
  (825, 826)	0.2506921490798916
  (825, 1587)	0.2806965020161681
  (825, 3633)	0.35502404277063115
  (825, 1100)	0.37676345482672335
  (825, 3215)	0.37676345482672335
  (826, 2135)	0.3075542453642147
  (826, 3363)	0.34523850330234374
  (826, 3630)	0.353278941165688
  (826, 613)	0.4174215841659411
  (826, 3050)	0.47867226429410115
  (826, 1359)	0.5079831062080814
  (827, 1834)	0.3947412386878787
  (827, 483)	0.23743856420618153
  (827, 2556)	0.2487078689850047
  (827, 1666)	0.1596341193666806
  (827, 3173)	0.23119875193683673
  (827, 3254)	0.2635889502019105
  (827, 2926)	0.2635889502019105
  (827, 689)	0.27703209709099264
  (827, 134)	0.328369346732058
  (827, 2788)	0.328369346732058
  (827, 1110)	0.328369346732058
  (827, 182)	0.328369346732058

In [172]:
y=df['target'].values

In [173]:
# now data ==> input
#     y ==> output

In [174]:
# now we apply machine learning classification for prediction

In [175]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,y,test_size=0.30,random_state=1)

In [176]:
#multiple model creation 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
knn=KNeighborsClassifier(n_neighbors=7)
nai=BernoulliNB()
sup=SVC()

In [177]:
lst=[knn,nai,sup]
for i in lst:
    print("Model name is ---> ",i)
    i.fit(x_train,y_train)
    y_pred=i.predict(x_test)
    print("Performance Evaluation of ",i,"****************")

    print('accuracy_score === ',accuracy_score(y_test,y_pred))
    print('-'*100)

Model name is --->  KNeighborsClassifier(n_neighbors=7)
Performance Evaluation of  KNeighborsClassifier(n_neighbors=7) ****************
accuracy_score ===  0.4819277108433735
----------------------------------------------------------------------------------------------------
Model name is --->  BernoulliNB()
Performance Evaluation of  BernoulliNB() ****************
accuracy_score ===  0.5461847389558233
----------------------------------------------------------------------------------------------------
Model name is --->  SVC()
Performance Evaluation of  SVC() ****************
accuracy_score ===  0.6265060240963856
----------------------------------------------------------------------------------------------------