In [379]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df1=pd.read_csv('Flight_Data_Train.csv')
df1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [380]:
df1.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [381]:
df1.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [382]:
df1.shape

(10683, 11)

In [383]:
df1.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [384]:
df1.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [385]:
df1.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [386]:
df1['Airline'].value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [387]:
df1.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [388]:
df1[['day', 'month', 'year']] = df1['Date_of_Journey'].str.split('/', expand=True)

df1['Hours'] = df1['Duration'].str.extract(r'(\d+)h')
df1['Minutes'] = df1['Duration'].str.extract(r'(\d+)m')
df1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year,Hours,Minutes
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019,2,50
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019,19,NaN
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019,5,25
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,04,2019,2,30
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,04,2019,2,35
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229,27,04,2019,3,NaN
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648,01,03,2019,2,40
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,05,2019,8,20

In [389]:
df1['Arrival_Time'].value_counts()

Arrival_Time
19:00           423
21:00           360
19:15           333
16:10           154
12:35           122
               ...
00:50 28 Jun      1
22:40 07 Jun      1
06:50 10 Mar      1
00:05 19 Mar      1
21:20 13 Mar      1
Name: count, Length: 1343, dtype: int64

In [390]:
df1['Arrival']=df1['Arrival_Time'].apply(lambda x:x.split()[0])
df1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year,Hours,Minutes,Arrival
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019,2,50,01:10
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019,7,25,13:15
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019,19,NaN,04:25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019,5,25,23:30
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019,4,45,21:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,04,2019,2,30,22:25
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,04,2019,2,35,23:20
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229,27,04,2019,3,NaN,11:20
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648,01,03,2019,2,40,14:10
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,05,2019,8,20,19:15

In [391]:
df1['Arrival'].value_counts()

Arrival
19:00    618
04:25    589
19:15    573
12:35    444
21:00    360
        ...
13:10      1
11:15      1
03:40      1
16:00      1
11:35      1
Name: count, Length: 223, dtype: int64

In [392]:
df1['Total_Stops'].value_counts()

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: count, dtype: int64

In [393]:
df1.drop(['Date_of_Journey','Arrival_Time','Duration'],axis=1,inplace=True)
df1

,Airline,Source,Destination,Route,Dep_Time,Total_Stops,Additional_Info,Price,day,month,year,Hours,Minutes,Arrival
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,non-stop,No info,3897,24,03,2019,2,50,01:10
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,2 stops,No info,7662,1,05,2019,7,25,13:15
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,2 stops,No info,13882,9,06,2019,19,NaN,04:25
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,1 stop,No info,6218,12,05,2019,5,25,23:30
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,1 stop,No info,13302,01,03,2019,4,45,21:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU ? BLR,19:55,non-stop,No info,4107,9,04,2019,2,30,22:25
10679,Air India,Kolkata,Banglore,CCU ? BLR,20:45,non-stop,No info,4145,27,04,2019,2,35,23:20
10680,Jet Airways,Banglore,Delhi,BLR ? DEL,08:20,non-stop,No info,7229,27,04,2019,3,NaN,11:20
10681,Vistara,Banglore,New Delhi,BLR ? DEL,11:30,non-stop,No info,12648,01,03,2019,2,40,14:10
10682,Air India,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,2 stops,No info,11753,9,05,2019,8,20,19:15

In [394]:
df1.isna().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Total_Stops           1
Additional_Info       0
Price                 0
day                   0
month                 0
year                  0
Hours                 1
Minutes            1031
Arrival               0
dtype: int64

In [395]:
df1.dtypes

Airline            object
Source             object
Destination        object
Route              object
Dep_Time           object
Total_Stops        object
Additional_Info    object
Price               int64
day                object
month              object
year               object
Hours              object
Minutes            object
Arrival            object
dtype: object

In [396]:
df1['Route'].value_counts()

Route
DEL ? BOM ? COK                      2376
BLR ? DEL                            1552
CCU ? BOM ? BLR                       979
CCU ? BLR                             724
BOM ? HYD                             621
                                     ...
BOM ? VNS ? DEL ? HYD                   1
BLR ? HBX ? BOM ? NAG ? DEL             1
BLR ? BOM ? IXC ? DEL                   1
BLR ? CCU ? BBI ? HYD ? VGA ? DEL       1
BOM ? BBI ? HYD                         1
Name: count, Length: 128, dtype: int64

In [397]:
dfe=pd.get_dummies(df1[['Route']],drop_first=True,dtype=int)
dfe

,Route_BLR ? BBI ? DEL,Route_BLR ? BDQ ? DEL,Route_BLR ? BOM ? AMD ? DEL,Route_BLR ? BOM ? BHO ? DEL,Route_BLR ? BOM ? DEL,Route_BLR ? BOM ? IDR ? DEL,Route_BLR ? BOM ? IDR ? GWL ? DEL,Route_BLR ? BOM ? IXC ? DEL,Route_BLR ? BOM ? JDH ? DEL,Route_BLR ? BOM ? NAG ? DEL,...,Route_DEL ? LKO ? BOM ? COK,Route_DEL ? LKO ? COK,Route_DEL ? MAA ? BOM ? COK,Route_DEL ? MAA ? COK,Route_DEL ? NAG ? BOM ? COK,Route_DEL ? PNQ ? COK,Route_DEL ? RPR ? NAG ? BOM ? COK,Route_DEL ? TRV ? COK,Route_DEL ? UDR ? BOM ? COK,Route_MAA ? CCU
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [398]:
df2=pd.concat([df1,dfe],axis=1)
df2

,Airline,Source,Destination,Route,Dep_Time,Total_Stops,Additional_Info,Price,day,month,...,Route_DEL ? LKO ? BOM ? COK,Route_DEL ? LKO ? COK,Route_DEL ? MAA ? BOM ? COK,Route_DEL ? MAA ? COK,Route_DEL ? NAG ? BOM ? COK,Route_DEL ? PNQ ? COK,Route_DEL ? RPR ? NAG ? BOM ? COK,Route_DEL ? TRV ? COK,Route_DEL ? UDR ? BOM ? COK,Route_MAA ? CCU
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,non-stop,No info,3897,24,03,...,0,0,0,0,0,0,0,0,0,0
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,2 stops,No info,7662,1,05,...,0,0,0,0,0,0,0,0,0,0
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,2 stops,No info,13882,9,06,...,1,0,0,0,0,0,0,0,0,0
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,1 stop,No info,6218,12,05,...,0,0,0,0,0,0,0,0,0,0
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,1 stop,No info,13302,01,03,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU ? BLR,19:55,non-stop,No info,4107,9,04,...,0,0,0,0,0,0,0,0,0,0
10679,Air India,Kolkata,Banglore,CCU ? BLR,20:45,non-stop,No info,4145,27,04,...,0,0,0,0,0,0,0,0,0,0
10680,Jet Airways,Banglore,Delhi,BLR ? DEL,08:20,non-stop,No info,7229,27,04,...,0,0,0,0,0,0,0,0,0,0
10681,Vistara,Banglore,New Delhi,BLR ? DEL,11:30,non-stop,No info,12648,01,03,...,0,0,0,0,0,0,0,0,0,0
10682,Air India,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,2 stops,No info,11753,9,05,...,0,0,0,0,0,0,0,0,0,0

In [399]:
df2.drop(['Route'],axis=1,inplace=True)
df2

,Airline,Source,Destination,Dep_Time,Total_Stops,Additional_Info,Price,day,month,year,...,Route_DEL ? LKO ? BOM ? COK,Route_DEL ? LKO ? COK,Route_DEL ? MAA ? BOM ? COK,Route_DEL ? MAA ? COK,Route_DEL ? NAG ? BOM ? COK,Route_DEL ? PNQ ? COK,Route_DEL ? RPR ? NAG ? BOM ? COK,Route_DEL ? TRV ? COK,Route_DEL ? UDR ? BOM ? COK,Route_MAA ? CCU
0,IndiGo,Banglore,New Delhi,22:20,non-stop,No info,3897,24,03,2019,...,0,0,0,0,0,0,0,0,0,0
1,Air India,Kolkata,Banglore,05:50,2 stops,No info,7662,1,05,2019,...,0,0,0,0,0,0,0,0,0,0
2,Jet Airways,Delhi,Cochin,09:25,2 stops,No info,13882,9,06,2019,...,1,0,0,0,0,0,0,0,0,0
3,IndiGo,Kolkata,Banglore,18:05,1 stop,No info,6218,12,05,2019,...,0,0,0,0,0,0,0,0,0,0
4,IndiGo,Banglore,New Delhi,16:50,1 stop,No info,13302,01,03,2019,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,19:55,non-stop,No info,4107,9,04,2019,...,0,0,0,0,0,0,0,0,0,0
10679,Air India,Kolkata,Banglore,20:45,non-stop,No info,4145,27,04,2019,...,0,0,0,0,0,0,0,0,0,0
10680,Jet Airways,Banglore,Delhi,08:20,non-stop,No info,7229,27,04,2019,...,0,0,0,0,0,0,0,0,0,0
10681,Vistara,Banglore,New Delhi,11:30,non-stop,No info,12648,01,03,2019,...,0,0,0,0,0,0,0,0,0,0
10682,Air India,Delhi,Cochin,10:55,2 stops,No info,11753,9,05,2019,...,0,0,0,0,0,0,0,0,0,0

In [400]:
df2.dtypes

Airline                              object
Source                               object
Destination                          object
Dep_Time                             object
Total_Stops                          object
                                      ...
Route_DEL ? PNQ ? COK                 int64
Route_DEL ? RPR ? NAG ? BOM ? COK     int64
Route_DEL ? TRV ? COK                 int64
Route_DEL ? UDR ? BOM ? COK           int64
Route_MAA ? CCU                       int64
Length: 140, dtype: object

In [401]:
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()
df2['Airline']=lab.fit_transform(df2['Airline'])
df2['Source']=lab.fit_transform(df2['Source'])
df2['Destination']=lab.fit_transform(df2['Destination'])
df2['Dep_Time']=lab.fit_transform(df2['Dep_Time'])
df2['Total_Stops']=lab.fit_transform(df2['Total_Stops'])
df2['Additional_Info']=lab.fit_transform(df2['Additional_Info'])
df2['day']=lab.fit_transform(df2['day'])
df2['month']=lab.fit_transform(df2['month'])
df2['year']=lab.fit_transform(df2['year'])
df2['Hours']=lab.fit_transform(df2['Hours'])
df2['Minutes']=lab.fit_transform(df2['Minutes'])
df2['Arrival']=lab.fit_transform(df2['Arrival'])

In [402]:
df2.dtypes

Airline                              int64
Source                               int64
Destination                          int64
Dep_Time                             int64
Total_Stops                          int64
                                     ...
Route_DEL ? PNQ ? COK                int64
Route_DEL ? RPR ? NAG ? BOM ? COK    int64
Route_DEL ? TRV ? COK                int64
Route_DEL ? UDR ? BOM ? COK          int64
Route_MAA ? CCU                      int64
Length: 140, dtype: object

In [403]:
df2.isna().sum()

Airline                              0
Source                               0
Destination                          0
Dep_Time                             0
Total_Stops                          0
                                    ..
Route_DEL ? PNQ ? COK                0
Route_DEL ? RPR ? NAG ? BOM ? COK    0
Route_DEL ? TRV ? COK                0
Route_DEL ? UDR ? BOM ? COK          0
Route_MAA ? CCU                      0
Length: 140, dtype: int64

In [404]:
df2

,Airline,Source,Destination,Dep_Time,Total_Stops,Additional_Info,Price,day,month,year,...,Route_DEL ? LKO ? BOM ? COK,Route_DEL ? LKO ? COK,Route_DEL ? MAA ? BOM ? COK,Route_DEL ? MAA ? COK,Route_DEL ? NAG ? BOM ? COK,Route_DEL ? PNQ ? COK,Route_DEL ? RPR ? NAG ? BOM ? COK,Route_DEL ? TRV ? COK,Route_DEL ? UDR ? BOM ? COK,Route_MAA ? CCU
0,3,0,5,211,4,8,3897,9,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,3,0,31,1,8,7662,4,2,0,...,0,0,0,0,0,0,0,0,0,0
2,4,2,1,70,1,8,13882,13,3,0,...,1,0,0,0,0,0,0,0,0,0
3,3,3,0,164,0,8,6218,5,2,0,...,0,0,0,0,0,0,0,0,0,0
4,3,0,5,149,0,8,13302,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,3,0,183,4,8,4107,13,1,0,...,0,0,0,0,0,0,0,0,0,0
10679,1,3,0,193,4,8,4145,10,1,0,...,0,0,0,0,0,0,0,0,0,0
10680,4,0,2,58,4,8,7229,10,1,0,...,0,0,0,0,0,0,0,0,0,0
10681,10,0,5,92,4,8,12648,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10682,1,2,1,85,1,8,11753,13,2,0,...,0,0,0,0,0,0,0,0,0,0

In [405]:
df2.columns
x=df2.drop(['Price'],axis=1)
x

,Airline,Source,Destination,Dep_Time,Total_Stops,Additional_Info,day,month,year,Hours,...,Route_DEL ? LKO ? BOM ? COK,Route_DEL ? LKO ? COK,Route_DEL ? MAA ? BOM ? COK,Route_DEL ? MAA ? COK,Route_DEL ? NAG ? BOM ? COK,Route_DEL ? PNQ ? COK,Route_DEL ? RPR ? NAG ? BOM ? COK,Route_DEL ? TRV ? COK,Route_DEL ? UDR ? BOM ? COK,Route_MAA ? CCU
0,3,0,5,211,4,8,9,0,0,11,...,0,0,0,0,0,0,0,0,0,0
1,1,3,0,31,1,8,4,2,0,40,...,0,0,0,0,0,0,0,0,0,0
2,4,2,1,70,1,8,13,3,0,10,...,1,0,0,0,0,0,0,0,0,0
3,3,3,0,164,0,8,5,2,0,38,...,0,0,0,0,0,0,0,0,0,0
4,3,0,5,149,0,8,0,0,0,33,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,3,0,183,4,8,13,1,0,11,...,0,0,0,0,0,0,0,0,0,0
10679,1,3,0,193,4,8,10,1,0,11,...,0,0,0,0,0,0,0,0,0,0
10680,4,0,2,58,4,8,10,1,0,22,...,0,0,0,0,0,0,0,0,0,0
10681,10,0,5,92,4,8,0,0,0,11,...,0,0,0,0,0,0,0,0,0,0
10682,1,2,1,85,1,8,13,2,0,41,...,0,0,0,0,0,0,0,0,0,0

In [406]:
y=df2['Price']
y

0         3897
1         7662
2        13882
3         6218
4        13302
         ...
10678     4107
10679     4145
10680     7229
10681    12648
10682    11753
Name: Price, Length: 10683, dtype: int64

In [407]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)

In [408]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [409]:
from sklearn.metrics import mean_absolute_percentage_error,r2_score
print('mean_absolute_percentage_error = ',mean_absolute_percentage_error(y_test,y_pred))
print('r2_score = ',r2_score(y_test,y_pred))

mean_absolute_percentage_error =  0.24942496263711958
r2_score =  0.5780553590223605